.carouselContainer {
  .carouselItem {
    div {
      height: 100%;
      margin: 0 0.5em;

      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}

#carouselFooter {
  display: flex;
  justify-content: flex-end;
}
