@import '../variables.scss';

#header {
  width: 100%;
  z-index: 1000;
  display: flex;
  position: relative;
  left: 0;
  top: 0;
  padding: 2em;
  justify-content: space-between;
  align-items: center;
}

#menuLink {
  cursor: pointer;
  display: flex;
  align-items: center;

  @media screen and (min-width: $screen-md) {
    display: none;
  }
}

#logo {
  img {
    height: min(15vw, 100px);
    cursor: pointer;
  }
}
