@import '../variables.scss';

#hero {
  width: 100vw;
  height: 100vh;
  padding: 0 2em;
  display: flex;
  align-items: center;
  margin-bottom: 8em;
  background-color: rgb(238, 238, 238);

  @media screen and (min-width: $screen-md) {
    flex-direction: row;
    padding: 0 8em;
    margin-bottom: 0;
    min-height: 95vh;
  }
}

#heroContent {
  width: 100%;

  div {
    margin-bottom: 0.5em;
  }
}

#subtitle {
  font-size: 1em;
}

#title {
  font-size: 5em;
  font-weight: 900;
  line-height: 0.75em;
  margin-bottom: 2em;
}

#cta {
  font-size: 1.5em;
}
