@import '../variables.scss';

#layout {
  display: flex;

  aside {
    display: none;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    padding-top: max(5vw, 40px);
    width: min(10vw, 150px);
    background-color: $secondaryBgColor;
    border-right: 1px solid black;
    cursor: pointer;
    z-index: 2;
    min-height: 100vh;

    div {
      position: fixed;
    }

    @media screen and (min-width: $screen-md) {
      display: flex;
    }
  }
}

#menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: $secondaryBgColor;
  padding: 2em 1em;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: width 0.35s, padding .35s, opacity .35s;
  z-index: 3;

  div {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      font-size: 1.5em;
      text-decoration: none;
      color: black;
      transition: all 0.1s;
      padding: 1em 0.5em;
      border-bottom: 1px solid black;
      width: 100%;
      text-align: center;
      white-space: nowrap;

      &:hover {
        font-size: 1.65em;
        color: grey;
      }
    }
  }

  @media screen and (min-width: $screen-md) {
    width: 25em;
    left: min(10vw, 150px);

    div {
      display: none;
    }

    nav {
      a {
        text-align: left;
      }
    }
  }
}

#menuButtons {
  display: flex;
  align-items: center;
  gap: 1.5em;
  transform: rotate(-90deg);
}

#socials {
  display: flex;
  align-items: baseline;
  gap: 0.5em;

  a {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5em;
    width: 2.5em;
    margin: 0.125em;
    background-color: black;
    color: darkgrey;
    border-radius: 100%;
    transition: all 0.1s;

    &:hover {
      height: 2.75em;
      width: 2.75em;
      color: white;
      margin: 0;
    }
  }
}

#siteContent {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 0 5em;
}

#modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: white;
  opacity: 0.6;
  z-index: 2;
}
