@import '../variables.scss';

#layout {
  display: flex;

  aside {
    display: none;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    padding-top: max(5vw, 40px);
    width: min(10vw, 150px);
    background-color: $secondaryBgColor;
    color: $secondaryTextColor;
    border-right: 1px solid white;
    cursor: pointer;
    z-index: 2;
    min-height: 100vh;

    div {
      position: fixed;
    }

    @media screen and (min-width: $screen-md) {
      display: flex;
    }
  }
}

#menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: $secondaryBgColor;
  padding: 2em 1em;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: width 0.35s, padding 0.35s, opacity 0.35s;
  z-index: 3;

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      color: $secondaryTextColor;
      font-size: 1.5em;
      text-decoration: none;
      transition: all 0.1s;
      padding: 1em 0.5em;
      border-bottom: 1px solid white;
      width: 100%;
      text-align: center;
      white-space: nowrap;

      &:hover {
        font-size: 1.65em;
      }
    }
  }

  nav > div {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
  }

  @media screen and (min-width: $screen-md) {
    width: 25em;
    left: min(10vw, 150px);

    nav {
      a {
        text-align: left;
      }
    }
  }
}

#closeButton {
  color: $bgColor;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;

  @media screen and (min-width: $screen-md) {
    display: none;
  }
}

#menuButtons {
  display: flex;
  align-items: center;
  gap: 1.5em;
  transform: rotate(-90deg);
}

#mainSocialBar {
  position: absolute;
  display: none;

  @media screen and (min-width: $screen-sm) {
    display: block;
  }
}

#siteContent {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 0 2em;
  min-height: 100vh;

  main {
    flex-grow: 1;
  }

  @media screen and (min-width: $screen-sm) {
    padding: 0 5em;
  }
}

#modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: white;
  opacity: 0.6;
  z-index: 2;
}
