@import '../variables.scss';

.socialBar {
  position: absolute;
  width: 2.5em;
  right: 0.5vw;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;

  & > div {
    display: flex;
    justify-content: center;
  }

  &::after {
    content: '';
    left: 50%;
    display: block;
    width: 2px;
    height: 100px;
    margin: 0.5em auto 0;
  }

  a {
    cursor: pointer;
    width: 2.5em;
    display: flex;
    justify-content: center;
    color: inherit;

    svg {
      display: flex;
      justify-content: center;
      transition: all 0.1s;
      width: 2em;
      height: 2em;
    }

    &:hover {
      svg {
        width: 2.5em;
        height: 2.5em;
      }
    }
  }
}

.light {
  a svg {
    color: white;
    filter: none;
  }

  &::after {
    background-color: white;
  }
}

#youtube {
  &:hover {
    svg {
      color: $youtube;
    }
  }
}

#spotify {
  &:hover {
    svg {
      color: $spotify;
    }
  }
}

#instagram {
  &:hover {
    svg {
      color: $instagram;
    }
  }
}

#twitch {
  &:hover {
    svg {
      color: $twitch;
    }
  }
}

#anchor {
  &:hover {
    svg {
      color: $anchor;
      filter: drop-shadow(0 0 0.1rem $anchor);
    }
  }
}
