$primaryColor: rgb(239, 40, 0);
$secondaryColor: navy;
$bgColor: white;
$secondaryBgColor: rgb(0, 0, 50);
$textColor: black;
$secondaryTextColor: white;

// Breakpoints
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1500px;

// Socials
$spotify: #1db954;
$youtube: #ff0000;
$instagram: #d6249f;
$twitch: #a971ff;
$anchor: #4a39a1;
