$primaryColor: green;
$secondaryColor: red;
$bgColor: white;
$secondaryBgColor: darkgrey;
$textColor: black;

// Breakpoints
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

// Socials
$youtube: #ff0000;
$spotify: #1db954;
$instagram: #d6249f;
$facebook: #4267b2;
